<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/adriancunanan/Documents/Design Year/Design-Year/Assets/Videos/Intro-Opening.mp4</key>
	<data>
	Ym9va7QDAAAAAAQQMAAAAKpFJjnmDMpWQgNYWGJxYiqSbgIbkntYg+nWDJZZmGlrpAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAGFkcmlhbmN1bmFuYW4A
	AAAJAAAAAQEAAERvY3VtZW50cwAAAAsAAAABAQAARGVzaWduIFllYXIACwAAAAEBAABE
	ZXNpZ24tWWVhcgAGAAAAAQEAAEFzc2V0cwAABgAAAAEBAABWaWRlb3MAABEAAAABAQAA
	SW50cm8tT3BlbmluZy5tcDQAAAAgAAAAAQYAABAAAAAgAAAAOAAAAEwAAABgAAAAdAAA
	AIQAAACUAAAACAAAAAQDAACnYQYAAAAAAAgAAAAEAwAAzsMGAAAAAAAIAAAABAMAAHnt
	BgAAAAAACAAAAAQDAADGkggAAAAAAAgAAAAEAwAA45IIAAAAAAAIAAAABAMAAP+SCAAA
	AAAACAAAAAQDAADxFRsAAAAAAAgAAAAEAwAA2BcbAAAAAAAgAAAAAQYAANgAAADoAAAA
	+AAAAAgBAAAYAQAAKAEAADgBAABIAQAACAAAAAAEAABBvhtHcAAAABgAAAABAgAAAQAA
	AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAGAAAAAAAAAAQAAAADAwAA9QEAAAgA
	AAABCQAAZmlsZTovLy8NAAAAAQEAAE1hY2ludG9zaCBIREQAAAAIAAAABAMAAAAAAKOu
	AAAACAAAAAAEAABBvhULnQAAACQAAAABAQAAQjM4MEU1MDMtREJCNy0zOUFELTk3NUIt
	OTUwMDM2NjE5RUY5GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
	AC8AAAAAAAAAAQUAABoAAAABAQAATlNVUkxEb2N1bWVudElkZW50aWZpZXJLZXkAAAQA
	AAADAwAAMgIAANgAAAD+////AQAAAAAAAAARAAAABBAAALAAAAAAAAAABRAAAFgBAAAA
	AAAAEBAAAJABAAAAAAAAQBAAAIABAAAAAAAAAiAAAGACAAAAAAAABSAAAMwBAAAAAAAA
	ECAAANwBAAAAAAAAESAAABQCAAAAAAAAEiAAAPQBAAAAAAAAEyAAAAQCAAAAAAAAICAA
	AEACAAAAAAAAMCAAAGwCAAAAAAAAAcAAALABAAAAAAAAEcAAACAAAAAAAAAAEsAAAMAB
	AAAAAAAAENAAAAQAAAAAAAAAdAIAgJgCAAAAAAAA
	</data>
	<key>/Users/adriancunanan/Documents/Design Year/Design-Year/Assets/Videos/RAW/W1D1.MOV</key>
	<data>
	Ym9va8wDAAAAAAQQMAAAAPPnauySRk8K8Ds3gmjYrRPDzbA3gF4BgLMS/WJ05iK/vAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAGFkcmlhbmN1bmFuYW4A
	AAAJAAAAAQEAAERvY3VtZW50cwAAAAsAAAABAQAARGVzaWduIFllYXIACwAAAAEBAABE
	ZXNpZ24tWWVhcgAGAAAAAQEAAEFzc2V0cwAABgAAAAEBAABWaWRlb3MAAAMAAAABAQAA
	UkFXAAgAAAABAQAAVzFEMS5NT1YkAAAAAQYAABAAAAAgAAAAOAAAAEwAAABgAAAAdAAA
	AIQAAACUAAAAoAAAAAgAAAAEAwAAp2EGAAAAAAAIAAAABAMAAM7DBgAAAAAACAAAAAQD
	AAB57QYAAAAAAAgAAAAEAwAAxpIIAAAAAAAIAAAABAMAAOOSCAAAAAAACAAAAAQDAAD/
	kggAAAAAAAgAAAAEAwAA8RUbAAAAAAAIAAAABAMAAL4WGwAAAAAACAAAAAQDAABVFRsA
	AAAAACQAAAABBgAA3AAAAOwAAAD8AAAADAEAABwBAAAsAQAAPAEAAEwBAABcAQAACAAA
	AAAEAABBvhtDNgAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQD
	AAAHAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8NAAAAAQEAAE1hY2lu
	dG9zaCBIREQAAAAIAAAABAMAAAAAAKOuAAAACAAAAAAEAABBvhULnQAAACQAAAABAQAA
	QjM4MEU1MDMtREJCNy0zOUFELTk3NUItOTUwMDM2NjE5RUY5GAAAAAECAACBAAAAAQAA
	AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAABoAAAABAQAATlNVUkxE
	b2N1bWVudElkZW50aWZpZXJLZXkAAAQAAAADAwAAMQIAANgAAAD+////AQAAAAAAAAAR
	AAAABBAAALAAAAAAAAAABRAAAGwBAAAAAAAAEBAAAKgBAAAAAAAAQBAAAJgBAAAAAAAA
	AiAAAHgCAAAAAAAABSAAAOQBAAAAAAAAECAAAPQBAAAAAAAAESAAACwCAAAAAAAAEiAA
	AAwCAAAAAAAAEyAAABwCAAAAAAAAICAAAFgCAAAAAAAAMCAAAIQCAAAAAAAAAcAAAMgB
	AAAAAAAAEcAAACAAAAAAAAAAEsAAANgBAAAAAAAAENAAAAQAAAAAAAAAjAIAgLACAAAA
	AAAA
	</data>
</dict>
</plist>
